Repository GuildedTS/Guilded.TS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
	"*.ts": "eslint --fix",
	"*.{ts,md,json,yml,yaml}": "prettier --write"
}

feat(website): use `app` directory
  apps/website/.eslintrc.json
  apps/website/.gitignore
  apps/website/next.config.js
  apps/website/src/app/head.tsx
  apps/website/src/app/layout.tsx
  apps/website/src/app/not-found.tsx
  apps/website/src/app/page.tsx
  apps/website/src/components/Command.tsx
  apps/website/src/components/ExternalLink.tsx
  apps/website/src/components/Footer.tsx
  apps/website/src/components/NavExternalLink.tsx
  apps/website/src/components/NavLink.tsx
  apps/website/src/components/Navbar.tsx
  apps/website/src/pages/404.tsx
  apps/website/src/pages/_app.tsx
  apps/website/src/pages/index.tsx
  apps/website/src/styles.css
  apps/website/tsconfig.json
Due: prettier --write

feat(website): update layout
  apps/website/src/app/layout.tsx
  apps/website/src/app/not-found.tsx
Due: none

feat(website): use `app` directory
  apps/website/.eslintrc.json
  apps/website/.gitignore
  apps/website/next.config.js
  apps/website/src/app/head.tsx
  apps/website/src/app/layout.tsx
  apps/website/src/app/page.tsx
  apps/website/src/components/Command.tsx
  apps/website/src/components/ExternalLink.tsx
  apps/website/src/components/Footer.tsx
  apps/website/src/components/NavExternalLink.tsx
  apps/website/src/components/NavLink.tsx
  apps/website/src/components/Navbar.tsx
  apps/website/src/pages/404.tsx
  apps/website/src/pages/_app.tsx
  apps/website/src/pages/index.tsx
  apps/website/src/styles.css
  apps/website/tsconfig.json
Due: prettier --write

fix: licence
  LICENSE
Due: none

feat(website): shadows
  apps/website/src/components/Command.tsx
  apps/website/src/components/Navbar.tsx
Due: none

refactor(builders): embed builder
  .changeset/cyan-pugs-mix.md
  packages/builders/src/Embed.ts
  packages/framework/src/handlers/commands.ts
  packages/guilded.ts/src/managers/channel/ChannelWebhookManager.ts
  packages/guilded.ts/src/managers/message/MessageManager.ts
  packages/util/package.json
  packages/util/src/transform.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: full turbo!
  .changeset/README.md
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  package.json
  packages/builders/package.json
  packages/builders/tsconfig.json
  packages/framework/package.json
  packages/framework/tsconfig.json
  packages/guilded-api-typings/package.json
  packages/guilded-api-typings/tsconfig.json
  packages/guilded.ts/package.json
  packages/guilded.ts/tsconfig.json
  packages/rest/package.json
  packages/rest/tsconfig.json
  packages/util/package.json
  packages/util/tsconfig.json
  packages/ws/package.json
  packages/ws/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
  tsup.config.ts
  turbo.json
Due: eslint --fix, prettier --write

feat(website): add icon links
  apps/website/src/app/page.tsx
  apps/website/src/components/Command.tsx
  apps/website/src/components/Footer.tsx
  apps/website/src/components/IconLinks.tsx
  apps/website/src/components/NavExternalLink.tsx
  apps/website/src/components/NavLink.tsx
  apps/website/src/components/Navbar.tsx
  apps/website/src/styles.css
Due: none

refactor: move guide
  .gitignore
  apps/guide/.eslintrc.json
  apps/guide/README.md
  apps/guide/package.json
  apps/guide/src/.vuepress/config.ts
  apps/guide/src/.vuepress/styles/index.scss
  apps/guide/src/README.md
  apps/guide/src/creating-your-bot/README.md
  apps/guide/src/creating-your-bot/event-handling.md
  apps/guide/src/creating-your-bot/main-file.md
  apps/guide/src/popular-topics/README.md
  example/README.md
  example/index.ts
  package.json
  pnpm-lock.yaml
  test/commands/echo.ts
  test/commands/ping.ts
  test/commands/set-xp.ts
  test/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: update vuepress
  apps/guide/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: logos
  apps/website/public/banner.jpg
  apps/website/public/banner.png
  apps/website/public/logo.jpg
  apps/website/public/logo.png
  apps/website/src/app/page.tsx
Due: none

refactor: update readme
  apps/guide/README.md
  apps/website/README.md
  apps/website/next.config.js
  apps/website/src/app/layout.tsx
  apps/website/src/components/Command.tsx
  apps/website/src/components/ExternalLink.tsx
  apps/website/src/components/Footer.tsx
  apps/website/src/components/IconLinks.tsx
  apps/website/src/components/NavExternalLink.tsx
  apps/website/src/components/NavLink.tsx
  example/README.md
  packages/builders/README.md
  packages/framework/README.md
  packages/guilded-api-typings/README.md
  packages/guilded.ts/README.md
  packages/rest/README.md
  packages/util/README.md
  packages/ws/README.md
Due: prettier --write

fix: renovate
  .github/renovate.json
Due: prettier --write

refactor: redesign
  apps/website/index.d.ts
  apps/website/next.config.js
  apps/website/package.json
  apps/website/src/app/layout.tsx
  apps/website/src/app/page.tsx
  apps/website/src/components/Command.tsx
  apps/website/src/components/Footer.tsx
  apps/website/src/components/Head.tsx
  apps/website/src/components/IconLinks.tsx
  apps/website/src/components/NavExternalLink.tsx
  apps/website/src/components/NavLink.tsx
  apps/website/src/components/Navbar.tsx
  apps/website/src/components/Syntax.tsx
  apps/website/src/components/layouts/Base.tsx
  apps/website/src/pages/_app.tsx
  apps/website/src/pages/_document.tsx
  apps/website/src/pages/index.tsx
  apps/website/src/styles.css
  apps/website/tailwind.config.js
  apps/website/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: disable image dragging
  apps/website/src/pages/index.tsx
Due: none

refactor: switch back to app directory
  apps/website/next.config.js
  apps/website/src/app/head.tsx
  apps/website/src/app/layout.tsx
  apps/website/src/app/page.tsx
  apps/website/src/components/Command.tsx
  apps/website/src/components/Navbar.tsx
  apps/website/src/components/Syntax.tsx
  apps/website/src/pages/_app.tsx
  apps/website/src/pages/_document.tsx
  apps/website/src/pages/index.tsx
Due: none

fix: react hydration error
  apps/website/next.config.js
  apps/website/src/app/page.tsx
  apps/website/src/components/Command.tsx
  apps/website/src/components/Head.tsx
  apps/website/src/components/Layout.tsx
  apps/website/src/components/Navbar.tsx
  apps/website/src/components/Syntax.tsx
  apps/website/src/pages/_app.tsx
  apps/website/src/pages/_document.tsx
  apps/website/src/pages/index.tsx
  apps/website/src/styles.css
Due: none

fix: move head element
  apps/website/src/components/Head.tsx
  apps/website/src/components/Layout.tsx
  apps/website/src/pages/_document.tsx
Due: none

fix: add lang attribute to html element
  apps/website/src/pages/_document.tsx
Due: none

feat: add forum topic comments
  .changeset/curvy-jobs-leave.md
  packages/guilded.ts/src/managers/ForumTopicCommentManager.ts
  packages/guilded.ts/src/structures/Client.ts
  packages/guilded.ts/src/structures/ForumComment.ts
  packages/guilded.ts/src/structures/ForumTopic.ts
  packages/guilded.ts/src/ws/events/forumTopic.ts
  packages/guilded.ts/src/ws/index.ts
  packages/rest/src/index.ts
  packages/rest/src/routers/ForumTopicCommentRouter.ts
  packages/rest/src/routers/Router.ts
Due: eslint --fix, prettier --write

Revert "feat: add forum topic comments"
  .changeset/curvy-jobs-leave.md
  packages/guilded.ts/src/managers/ForumTopicCommentManager.ts
  packages/guilded.ts/src/structures/Client.ts
  packages/guilded.ts/src/structures/ForumComment.ts
  packages/guilded.ts/src/structures/ForumTopic.ts
  packages/guilded.ts/src/ws/events/forumTopic.ts
  packages/guilded.ts/src/ws/index.ts
  packages/rest/src/index.ts
  packages/rest/src/routers/ForumTopicCommentRouter.ts
  packages/rest/src/routers/Router.ts
Due: eslint --fix, prettier --write

feat: add forum topic comment reactions
  packages/guilded.ts/src/collectors/ForumTopicCommentReactionCollector.ts
  packages/guilded.ts/src/index.ts
  packages/guilded.ts/src/managers/forum/ForumTopicCommentManager.ts
  packages/guilded.ts/src/managers/forum/ForumTopicCommentReactionManager.ts
  packages/guilded.ts/src/managers/forum/ForumTopicManager.ts
  packages/guilded.ts/src/managers/message/MessageReactionManager.ts
  packages/guilded.ts/src/structures/Client.ts
  packages/guilded.ts/src/structures/channel/ForumChannel.ts
  packages/guilded.ts/src/structures/forum/ForumTopic.ts
  packages/guilded.ts/src/structures/forum/ForumTopicComment.ts
  packages/guilded.ts/src/structures/forum/ForumTopicCommentReaction.ts
  packages/guilded.ts/src/ws/events/forumTopic.ts
  packages/rest/src/index.ts
  packages/rest/src/routers/Router.ts
  packages/rest/src/routers/forum/ForumTopicCommentReactionRouter.ts
  packages/rest/src/routers/forum/ForumTopicCommentRouter.ts
  packages/rest/src/routers/forum/ForumTopicRouter.ts
  packages/ws/src/WebsocketManager.ts
Due: eslint --fix, prettier --write

fix: revert back to using the app dir
  apps/website/next.config.js
  apps/website/src/app/head.tsx
  apps/website/src/app/layout.tsx
  apps/website/src/app/page.tsx
  apps/website/src/components/Command.tsx
  apps/website/src/components/Navbar.tsx
  apps/website/src/components/Syntax.tsx
  apps/website/src/pages/_app.tsx
  apps/website/src/pages/_document.tsx
  apps/website/src/pages/index.tsx
Due: none

chore: update deps
  apps/guide/README.md
  apps/guide/package.json
  apps/website/.eslintrc.json
  apps/website/README.md
  apps/website/next.config.js
  apps/website/package.json
  apps/website/src/app/head.tsx
  apps/website/src/app/layout.tsx
  apps/website/src/app/page.tsx
  apps/website/src/components/IconLinks.tsx
  example/README.md
  package.json
  packages/builders/README.md
  packages/framework/README.md
  packages/framework/package.json
  packages/guilded-api-typings/README.md
  packages/guilded.ts/README.md
  packages/guilded.ts/package.json
  packages/rest/README.md
  packages/rest/package.json
  packages/util/README.md
  packages/ws/README.md
  packages/ws/package.json
  pnpm-lock.yaml
Due: prettier --write
