Repository GuildedTS/Guilded.TS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add colours
  packages/website/src/styles.css
  packages/website/tailwind.config.js
Due: none

feat: website
  package.json
  packages/builders/.eslintrc.json
  packages/builders/package.json
  packages/framework/.eslintrc.json
  packages/framework/package.json
  packages/guilded-api-typings/.eslintrc.json
  packages/guilded-api-typings/package.json
  packages/guilded.ts/.eslintrc.json
  packages/guilded.ts/package.json
  packages/rest/.eslintrc.json
  packages/rest/package.json
  packages/website/.eslintrc.json
  packages/website/next.config.js
  packages/website/package.json
  packages/website/postcss.config.js
  packages/website/src/pages/_app.tsx
  packages/website/src/pages/index.tsx
  packages/website/src/public/banner.jpg
  packages/website/src/public/banner.png
  packages/website/src/public/logo.jpg
  packages/website/src/public/logo.png
  packages/website/src/styles.css
  packages/website/tailwind.config.js
  packages/website/tsconfig.json
  packages/ws/.eslintrc.json
  packages/ws/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: pnpm-lock
  pnpm-lock.yaml
Due: prettier --write

wip: update pre-commit hook
  .husky/pre-commit
Due: none

fix: `User.isUser` always returns `false`
  .changeset/chatty-walls-exercise.md
  .changeset/wet-actors-beg.md
  packages/framework/src/structures/Client.ts
  packages/guilded.ts/src/structures/User.ts
Due: eslint --fix, prettier --write

feat: new website
  packages/website/next.config.js
  packages/website/package.json
  packages/website/public/banner.jpg
  packages/website/public/banner.png
  packages/website/public/logo.jpg
  packages/website/public/logo.png
  packages/website/src/components/Command.tsx
  packages/website/src/components/ExternalLink.tsx
  packages/website/src/components/Footer.tsx
  packages/website/src/components/NavExternalLink.tsx
  packages/website/src/components/NavLink.tsx
  packages/website/src/components/Navbar.tsx
  packages/website/src/pages/404.tsx
  packages/website/src/pages/_app.tsx
  packages/website/src/pages/index.tsx
  packages/website/tailwind.config.js
  pnpm-lock.yaml
  typedoc.json
Due: prettier --write

feat(website): add README
  website/README.md
Due: prettier --write

feat(Navbar): close on nav link click
  .commitlintrc.json
  website/src/components/ExternalLink.tsx
  website/src/components/NavExternalLink.tsx
  website/src/components/NavLink.tsx
  website/src/components/Navbar.tsx
  website/src/pages/index.tsx
Due: prettier --write

feat(website): fix 404 page on small screens
  website/src/pages/404.tsx
  website/src/pages/index.tsx
Due: none

feat(website): add `baseUrl` to tsconfig
  website/src/components/Navbar.tsx
  website/src/pages/_app.tsx
  website/src/pages/index.tsx
  website/tsconfig.json
Due: prettier --write

chore: delete unused files
  .eslintignore
  .prettierignore
  packages/builders/.eslintrc.json
  packages/framework/.eslintrc.json
  packages/guilded-api-typings/.eslintrc.json
  packages/guilded.ts/.eslintrc.json
  packages/rest/.eslintrc.json
  packages/ws/.eslintrc.json
Due: prettier --write

feat(NavLink): border bottom
  website/src/components/NavLink.tsx
Due: none

fix: dev mode
  .changeset/curly-geese-add.md
  package.json
  packages/framework/package.json
  packages/framework/src/structures/Client.ts
  packages/guilded.ts/package.json
  packages/ws/package.json
  pnpm-lock.yaml
  test/commands/ping.ts
  website/package.json
  website/src/components/NavExternalLink.tsx
  website/src/components/NavLink.tsx
Due: eslint --fix, prettier --write

fix: frozen lockfile
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

feat: `BotTeamMembershipCreated` event
  .changeset/red-cameras-search.md
  packages/guilded-api-typings/src/v1/WS.ts
  packages/guilded.ts/src/structures/Client.ts
  packages/guilded.ts/src/ws/events/server.ts
  packages/guilded.ts/src/ws/index.ts
Due: eslint --fix, prettier --write

refactor: change server related events to start with `server`
  .changeset/bright-news-add.md
  packages/guilded.ts/src/structures/Client.ts
  packages/guilded.ts/src/ws/events/server.ts
  packages/guilded.ts/src/ws/events/serverMember.ts
  packages/guilded.ts/src/ws/index.ts
Due: eslint --fix, prettier --write

feat: update Link components
  website/src/components/ExternalLink.tsx
  website/src/components/NavExternalLink.tsx
  website/src/components/NavLink.tsx
  website/src/components/Navbar.tsx
Due: none

feat: move typings to `dist` folders
  .gitignore
  packages/builders/package.json
  packages/builders/tsconfig.json
  packages/framework/package.json
  packages/framework/tsconfig.json
  packages/guilded-api-typings/package.json
  packages/guilded-api-typings/tsconfig.json
  packages/guilded.ts/package.json
  packages/guilded.ts/tsconfig.json
  packages/rest/package.json
  packages/rest/tsconfig.json
  packages/ws/package.json
  packages/ws/tsconfig.json
Due: prettier --write

feat: add util package
  .changeset/ninety-trainers-swim.md
  package.json
  packages/builders/src/Embed.ts
  packages/builders/src/index.ts
  packages/builders/src/util.ts
  packages/framework/src/handlers/commands.ts
  packages/util/README.md
  packages/util/package.json
  packages/util/src/index.ts
  packages/util/src/transform.ts
  packages/util/src/types.ts
  packages/util/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: update changeset
  .changeset/ninety-trainers-swim.md
  packages/util/package.json
Due: prettier --write

fix: switch to `Server` WebSocket events
  .changeset/afraid-ducks-chew.md
  packages/guilded-api-typings/src/v1/WS.ts
  packages/guilded.ts/src/structures/Client.ts
  packages/guilded.ts/src/ws/events/channel.ts
  packages/guilded.ts/src/ws/events/server.ts
  packages/guilded.ts/src/ws/events/serverMember.ts
  packages/guilded.ts/src/ws/events/webhook.ts
  packages/guilded.ts/src/ws/index.ts
Due: eslint --fix, prettier --write

fix: query parameters
  .changeset/silent-points-fix.md
  packages/rest/src/RESTManager.ts
Due: eslint --fix, prettier --write

feat: add `BotServerMembershipDeleted` event
  .changeset/blue-donkeys-hammer.md
  .changeset/dirty-cooks-fry.md
  packages/guilded-api-typings/src/v1/WS.ts
  packages/guilded.ts/src/structures/Client.ts
  packages/guilded.ts/src/structures/server/Server.ts
  packages/guilded.ts/src/ws/events/server.ts
  packages/guilded.ts/src/ws/index.ts
Due: eslint --fix, prettier --write

feat: renovate
  .github/renovate.json
  renovate.json
Due: prettier --write

feat(renovate): add labels
  .github/renovate.json
Due: prettier --write

fix(renovate): versions
  .github/renovate.json
Due: prettier --write

test(release workflow): new env vars
  .github/workflows/release.yml
Due: prettier --write

test(release workflow): docs
  .github/workflows/release.yml
Due: prettier --write

test(release workflow): env vars
  .github/workflows/release.yml
Due: prettier --write

refactor(release workflow): env vars
  .github/workflows/release.yml
Due: prettier --write

refactor: add `apps` directory
  apps/website/.eslintrc.json
  apps/website/README.md
  apps/website/next.config.js
  apps/website/package.json
  apps/website/postcss.config.js
  apps/website/public/banner.jpg
  apps/website/public/banner.png
  apps/website/public/gtsconfig-schema.json
  apps/website/public/logo.jpg
  apps/website/public/logo.png
  apps/website/src/components/Command.tsx
  apps/website/src/components/ExternalLink.tsx
  apps/website/src/components/Footer.tsx
  apps/website/src/components/NavExternalLink.tsx
  apps/website/src/components/NavLink.tsx
  apps/website/src/components/Navbar.tsx
  apps/website/src/pages/404.tsx
  apps/website/src/pages/_app.tsx
  apps/website/src/pages/index.tsx
  apps/website/src/styles.css
  apps/website/tailwind.config.js
  apps/website/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/.eslintrc.json
Due: prettier --write

refactor: issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: prettier --write

refactor(issue templates): package order
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: prettier --write

fix: disable permanent redirects
  apps/website/next.config.js
Due: none

feat(readme): add `@guildedts/util`
  packages/guilded.ts/README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{ts,md,json,yml,yaml}
