Repository GuildedTS/Guilded.TS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

test: test tag creation
  .changeset/sweet-flowers-count.md
Due: prettier --write

fix(types): Fix small issue
  packages/guilded-api-typings/src/v1/WS.ts
  packages/ws/src/WebsocketManager.ts
Due: eslint --fix, prettier --write

fix(types): Remove unnecessary code
  packages/guilded-api-typings/src/v1/WS.ts
Due: eslint --fix, prettier --write

chore(changeset): commit
  .changeset/yellow-tips-agree.md
Due: prettier --write

chore(changeset): commit
  .changeset/sixty-mugs-cry.md
Due: prettier --write

chore(changeset): remove old changeset
  .changeset/yellow-tips-agree.md
Due: prettier --write

fix: changeset
  .changeset/yellow-tips-agree.md
Due: prettier --write

feat: switch to new WebSocket URL
  .changeset/nine-phones-film.md
  packages/ws/src/WebsocketManager.ts
Due: eslint --fix, prettier --write

feat: set server member XP
  .changeset/great-peaches-smile.md
  .prettierrc.json
  packages/guilded-api-typings/src/v1/structures/Server.ts
  packages/guilded.ts/src/managers/server/ServerMemberManager.ts
  packages/guilded.ts/src/structures/server/ServerMember.ts
  packages/rest/src/routers/server/ServerMemberRouter.ts
  test/commands/echo.ts
  test/commands/ping.ts
  test/commands/set-xp.ts
Due: eslint --fix, prettier --write

fix: unrecognised events throw error
  .changeset/fresh-tomatoes-brush.md
  packages/guilded.ts/src/ws/index.ts
Due: eslint --fix, prettier --write

feat: forum topic pinning
  .changeset/seven-comics-retire.md
  packages/guilded-api-typings/src/v1/REST.ts
  packages/guilded-api-typings/src/v1/WS.ts
  packages/guilded.ts/src/managers/ForumTopicManager.ts
  packages/guilded.ts/src/structures/Client.ts
  packages/guilded.ts/src/structures/ForumTopic.ts
  packages/guilded.ts/src/ws/events/forumTopic.ts
  packages/guilded.ts/src/ws/index.ts
  packages/rest/src/routers/ForumTopicRouter.ts
Due: eslint --fix, prettier --write

feat: webhook `username` and `avatar_url` support
  .changeset/fifty-kings-buy.md
  packages/guilded-api-typings/src/v1/REST.ts
  packages/guilded-api-typings/src/v1/structures/Webhook.ts
  packages/guilded.ts/package.json
  packages/guilded.ts/src/managers/channel/ChannelWebhookManager.ts
  packages/guilded.ts/src/structures/Webhook.ts
  packages/rest/src/routers/WebhookRouter.ts
Due: eslint --fix, prettier --write

feat(RESTOptions): add `proxyUrl`
  .changeset/late-pens-allow.md
  packages/rest/src/RESTManager.ts
Due: eslint --fix, prettier --write

fix: pnpm-lock
  pnpm-lock.yaml
Due: prettier --write

feat(WebsocketOptions): add `proxyUrl`
  .changeset/silent-socks-admire.md
  packages/ws/src/WebsocketManager.ts
Due: eslint --fix, prettier --write

feat: add `awaitMessages` and `awaitReactions`
  .changeset/spotty-bobcats-wonder.md
  packages/guilded.ts/src/structures/channel/ChatChannel.ts
  packages/guilded.ts/src/structures/message/Message.ts
Due: eslint --fix, prettier --write

feat: generic typings
  .changeset/rotten-poets-burn.md
  packages/builders/src/index.ts
  packages/guilded-api-typings/src/v1/REST.ts
Due: eslint --fix, prettier --write

feat: forum topic lock and unlock
  .changeset/strange-tigers-trade.md
  packages/guilded-api-typings/src/v1/REST.ts
  packages/guilded-api-typings/src/v1/WS.ts
  packages/guilded.ts/src/managers/ForumTopicManager.ts
  packages/guilded.ts/src/structures/Client.ts
  packages/guilded.ts/src/structures/ForumTopic.ts
  packages/guilded.ts/src/ws/events/forumTopic.ts
  packages/guilded.ts/src/ws/index.ts
  packages/rest/src/routers/ForumTopicRouter.ts
Due: eslint --fix, prettier --write

feat: add `idle` to collector options
  .changeset/sour-toys-refuse.md
  packages/guilded.ts/src/collectors/Collector.ts
Due: eslint --fix, prettier --write

feat: commit lint
  .commitlintrc.json
  .github/COMMIT_CONVENTION.md
  .github/workflows/ci.yml
  .gitignore
  .husky/commit-msg
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: attempt to fix ci workflow
  .github/workflows/ci.yml
Due: prettier --write

feat: website
  package.json
  packages/builders/.eslintrc.json
  packages/builders/package.json
  packages/framework/.eslintrc.json
  packages/framework/package.json
  packages/guilded-api-typings/.eslintrc.json
  packages/guilded-api-typings/package.json
  packages/guilded.ts/.eslintrc.json
  packages/guilded.ts/package.json
  packages/rest/.eslintrc.json
  packages/rest/package.json
  packages/website/.eslintrc.json
  packages/website/next.config.js
  packages/website/package.json
  packages/website/postcss.config.js
  packages/website/src/pages/_app.tsx
  packages/website/src/pages/index.tsx
  packages/website/src/public/banner.jpg
  packages/website/src/public/banner.png
  packages/website/src/public/logo.jpg
  packages/website/src/public/logo.png
  packages/website/src/styles.css
  packages/website/tailwind.config.js
  packages/website/tsconfig.json
  packages/ws/.eslintrc.json
  packages/ws/package.json
  pnpm-lock.yaml
Due: prettier --write

wip: update pre-commit hook
  .husky/pre-commit
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{ts,md,json,yml,yaml}
